<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat | Socket.io</title>
    <style>
        body{
            font-family: Poppins, sans-serif;
            margin-inline: 25%;
        }

        #chat{
            width: 100%;
            min-height: 60vh;
            max-height: 60vh;
            overflow-y: scroll;
        }
        #username, #msg{
            margin: 0px;
            width: 100%;
            padding-top: 7px;
            padding-bottom: 7px;
            border-style: solid;
            border-radius: 8px;
            border-color: rgb(146, 146, 146);
            border-width: 0.2px;
            margin-bottom: 3px;
        }
        .username{
            color: rgb(77, 77, 77);
            margin-bottom: -18px;
            font-weight: 700;
            font-size: smaller;
        }
        button{
            font-weight: 800;
            font-size: small;
            color: black;
            background-color: transparent;
            margin: 0px;
            width: 100%;
            padding: 7px;
            border-style: solid;
            border-radius: 8px;
            border-color: rgb(0, 0, 0);
            border-width: 0.2px;
            margin-bottom: 3px;
        }
    </style>
</head>

<body>
    <h1>Chat</h1>

    <div id="chat">

    </div>
    <br>
    <input type="text" id="msg"> <br>
    <input type="text" id="username" placeholder="Username"> <br>
    <button onclick="send()">Send</button>

</body>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"
    integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"
    crossorigin="anonymous"></script>
<script>
    var socket = io("http://localhost:3000")
    socket.on("disconnect", () => {
        console.log("disconnect")
    })

    socket.on("showMsg", data => {
        var chat = document.getElementById("chat")
        var usernameElement = document.createElement("p")
        usernameElement.className = "username"
        usernameElement.innerHTML = data.username

        var messageElement = document.createElement("p")
        messageElement.className = "message"
        messageElement.innerHTML = data.message

        chat.append(usernameElement,messageElement)

    })

    function send() {
        var messageEl = document.getElementById("msg")
        var usernameEl = document.getElementById("username")

        var message = messageEl.value
        var username = usernameEl.value

        socket.emit("msg", { message, username })


    }
</script>

</html>